nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href="#") Voucherify
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href="/login") Login
        li.nav-item
          a.nav-link(href="/signup") Sign Up
        li.nav-item
          a.nav-link(href="/cart") My Cart
        li.nav-item
          a.nav-link(href="/orders") Order History