extends base

block content
  .row
    .col-md-12
      .alert.alert-primary(role="alert")
        h4 Welcome to Voucherify!
        if !user
          p Sign up or log in to start redeeming vouchers.
        else
          p Welcome back, #{user.name}! Redeem your points for exciting vouchers.
        p Redeem exciting vouchers using your loyalty points.
      
  .row.mt-3
    .col-md-4
      .card
        .card-body
          h5.card-title Food & Dining
          p.card-text Enjoy discounts on your favorite restaurants.
          a.btn.btn-primary(href="/vouchers?category=food") View Vouchers
    .col-md-4
      .card
        .card-body
          h5.card-title Shopping
          p.card-text Get exclusive discounts on popular brands.
          a.btn.btn-success(href="/vouchers?category=shopping") View Vouchers
    .col-md-4
      .card
        .card-body
          h5.card-title Entertainment
          p.card-text Redeem vouchers for movies, concerts, and more.
          a.btn.btn-warning(href="/vouchers?category=entertainment") View Vouchers

